body {
  margin:0;
  width: 100%;
  height: 100vh;
}
#root {
  margin:0;
  width: 100%;
  height: 100vh;
}
.ant-layout{
  height: 100vh;
  overflow: auto;
}
.ant-layout-sider-children{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
.ant-menu-root{
  margin-top: 60px;
}
.btn-logout{
  display: block;
  width: 80%;
  margin: auto;
  bottom: 30px;
}
.login-form-button{
  display: block;
  width: 100%;
  margin:auto;
}
.standout-row {
  background-color: #3477ff1a;
}